<form method="post" action="{{ path('app_guide_delete', {'id': guide.id}) }}" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guide.id) }}">
    <button type="submit" class="btn-action btn-delete">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form>
