{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
<div class="container">
    <h1>Back Office</h1>
    
    {# Add your back office content here #}
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Experiences</h5>
                    <p class="card-text">Manage experiences</p>
                    <a href="{{ path('app_experience_index') }}" class="btn btn-primary">Go to Experiences</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">Manage comments</p>
                    <a href="{{ path('app_commentaire_index') }}" class="btn btn-primary">Go to Comments</a>
                </div>
            </div>
        </div>
        
        {# Add more cards for other sections as needed #}
    </div>
</div>
{% endblock %}
